body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header, section {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

header {
  background-color: #75c178;
  color: rgb(0, 36, 1);
  text-align: center;
}

h2, h3 {
  font-size: 22px;
  text-decoration: underline;
  padding-right: 320px;
  text-align: center;
  color: #000000;
}

#game {
  text-align: center;
  margin-top: 20px;
}

main {
  background-color: rgb(192, 247, 192);
}

main p {
  border: 2px dashed black; /* or whatever style you want */
  padding: 10px; /* Adjust the padding as needed */
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(83, 105, 83);
  text-decoration-thickness: 5px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}

body h1 {
  background-color:  rgb(192, 247, 192);
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  text-decoration: underline;
}

ol {
  border: 2px dashed black; /* or whatever style you want */
  padding: 25px; /* Adjust the padding as needed */
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(83, 105, 83);
  text-decoration-thickness: 5px;
  font-size: 16px;
  color: black;
  font-weight: bolder;
}




















/* main{
  background-color: rgb(188, 230, 188);
}

section h1{
  color: black;
  text-shadow: rgb(63, 58, 58);
  text-align: center;
  font-weight: 50px
}

main p{
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 5px;
  border-style: dashed;
  border-color: rgb(4, 79, 4)
}

.answer1 {
  
} */