main{
  background-color: rgb(188, 230, 188);
}

section h1{
  color: black;
  text-shadow: rgb(63, 58, 58);
  text-align: center;
  font-weight: 50px
}

main p{
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 5px;
  border-style: dashed;
  border-color: rgb(4, 79, 4)
}

.answer1 {
  
}